.aside-left{
    width: 15%;
    height: 100%;
    background-color: green;
    float: left;
}

.content-block{
    width: 85%;
    height: 100%;
    text-align: center;
    background-color: pink;
    float: right;    
}


.main-block{
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: scroll;
    border: 0px;
    padding: 0px;
    margin:0px;
}

.block,.block-head,.block-content,.block-footer{
    margin: auto;
    width: 100%;
    min-height: 25%;
    background-color:  yellow;
}


.navbar-content{
    margin: auto;
    width: 100%;
    min-height: 5%;
    background-color: maroon;
    overflow: hidden;
}

.logo{
    margin: auto;
    text-align: center;
    width: auto;
    height: auto;
    display: block;
}


.block-head{
    min-height: 10%;
    display: inline-block;
    width: 100%;
    background-color: pink;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.block-content{
    height: 70%;
}

.block-footer{
    min-height: 15%;
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: purple;
}

.body-style{
    margin: 0px;
    width: 100%;
    height: 100%;
}